.row
  .span4
    = image_tag("logo-small-transparent.png")
  .span4
    = form_tag root_path, {:class => 'form-horizontal'} do
      .content-box
        .login-field
          = label_tag "Name:"
          = text_field_tag :username, params[:username]
        .login-field
          = label_tag "Telefonnummer:"
          = text_field_tag :phone, params[:phone]
        .datepicker
          = label_tag "Datum:"
          = text_field_tag :date, params[:date]
        .time
          = label_tag "Zeit:"
          #time-input{"data-provide" => "timepicker"}
            = text_field_tag :time, params[:time]

        #submit-button
          = submit_tag "Chatten", :class => 'btn btn-danger', :value => 'Bitte rufen Sie mich zurück' 